.container__create{
  padding: 12px;
  max-width: 300px;
  width: 100%;
  background-color: #202024;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.container__create form{
  color: #FFF;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  width: 100%;
  padding: 8px;
}

.container__create form div label{
  font-weight: 700;
}
.container__create form input, .container__create form select{
    background: #1E1E1E;
    padding: 10px;
    color: #7C7C8A;
    height: 40px;
    width: 100%;
    transition: outline .3s ease-in-out;
    margin-top: 10px;
    border-radius: 4px;
}
.container__create form div input:focus{
  outline: 1px solid #F18B20;
}
.container__create form button{
  padding: 12px;
  letter-spacing: 2px;
  border-radius: 4px;
  background-color: #F18B20;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
}
.container__create form div > span{
  color: #F18B20;
  font-size: 0.8rem;
  margin-top: 5px;
}
.container__create .product__register{
  color: #468FF2;
  text-decoration: underline;
  font-weight: 700;
  cursor: pointer;
}
